public/flow/light2.json
[{"id":"86fd6561.e784d8","type":"debug","z":"96fb26b6.a2cc28","name":"","active":false,"console":"false","complete":"false","x":475.37508392333984,"y":290.16675567626953,"wires":[]},{"id":"72820e72.2baec","type":"inject","z":"96fb26b6.a2cc28","name":"","topic":"","payload":"{\"test\":\"todo\"}","payloadType":"json","repeat":"","crontab":"","once":true,"x":95.25001525878906,"y":499.500057220459,"wires":[["1cf6e438.c132dc"]]},{"id":"63e7cc5b.43a114","type":"ui_form","z":"96fb26b6.a2cc28","name":"","label":"","group":"4a9215.0721ddec","order":0,"width":"0","height":"0","options":[{"label":"Lora MAC","value":"mac","type":"text","required":true},{"label":"GW ID","value":"gwId","type":"text","required":true}],"formValue":{"mac":"","gwId":""},"payload":"","topic":"","x":125.99982452392578,"y":167.28314399719238,"wires":[["6efd80ab.4aacf"]]},{"id":"79048108.95f75","type":"debug","z":"96fb26b6.a2cc28","name":"","active":true,"console":"false","complete":"false","x":752.0001068115234,"y":167.9665927886963,"wires":[]},{"id":"6efd80ab.4aacf","type":"function","z":"96fb26b6.a2cc28","name":"set setting to flow ","func":"let setting = msg.payload;\n\ncontext.global.setting = setting;\n// node.warn(JSON.stringify(context.global.setting));\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":310.99983978271484,"y":169.29978275299072,"wires":[["1cf6e438.c132dc","19fe4955.1fd307"]]},{"id":"ade25ffe.f7502","type":"comment","z":"96fb26b6.a2cc28","name":"MAC & GW ID setting","info":"","x":176.99981689453125,"y":123.21647644042969,"wires":[]},{"id":"79bf183e.64d788","type":"ui_text_input","z":"96fb26b6.a2cc28","name":"","label":"","group":"f407b6be.11a6d8","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":898.7498893737793,"y":247.8167266845703,"wires":[[]]},{"id":"32321d4d.202ea2","type":"function","z":"96fb26b6.a2cc28","name":"","func":"let setting = context.global.setting;\nif (setting) {\n    let msg1 = {\"payload\": setting.mac};\n    let msg2 = {\"payload\": setting.gwId};\n    return [msg1, msg2];\n}\n","outputs":"2","noerr":0,"x":736.749927520752,"y":268.2168941497803,"wires":[["79bf183e.64d788","bc6d3880.060078"],["f6e693d2.2f897","d2f353eb.181e4"]]},{"id":"fb176c6.0667e9","type":"comment","z":"96fb26b6.a2cc28","name":"Show current MAC","info":"","x":697.7498397827148,"y":224.21663093566895,"wires":[]},{"id":"f6e693d2.2f897","type":"ui_text_input","z":"96fb26b6.a2cc28","name":"","label":"","group":"c70a1c52.83135","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":899.4498558044434,"y":299.01659393310547,"wires":[[]]},{"id":"bc6d3880.060078","type":"debug","z":"96fb26b6.a2cc28","name":"","active":false,"console":"false","complete":"false","x":906.7499237060547,"y":208.14992332458496,"wires":[]},{"id":"d2f353eb.181e4","type":"debug","z":"96fb26b6.a2cc28","name":"","active":false,"console":"false","complete":"false","x":904.4498405456543,"y":343.0165710449219,"wires":[]},{"id":"d6f1778a.265a68","type":"file","z":"96fb26b6.a2cc28","name":"","filename":"controlSetting.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":851.2500534057617,"y":105.6829719543457,"wires":[]},{"id":"1cf6e438.c132dc","type":"function","z":"96fb26b6.a2cc28","name":"check setting","func":"let setting = context.global.setting;\ncontext.global.serialNum = 0x00;\n// node.warn(JSON.stringify(setting));\nif (setting) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":132.99984741210938,"y":270.749755859375,"wires":[["1c10b6b8.f31f19"]]},{"id":"1c10b6b8.f31f19","type":"switch","z":"96fb26b6.a2cc28","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":296.9999008178711,"y":272.4162769317627,"wires":[["32321d4d.202ea2"],["a8b89ed4.1e106"]]},{"id":"19fe4955.1fd307","type":"function","z":"96fb26b6.a2cc28","name":"","func":"let setting = context.global.setting;\n// node.warn(JSON.stringify(setting));\nmsg.payload = setting;\nreturn msg;","outputs":1,"noerr":0,"x":534.5,"y":170.29986381530762,"wires":[["79048108.95f75","d6f1778a.265a68"]]},{"id":"a8b89ed4.1e106","type":"file in","z":"96fb26b6.a2cc28","name":"","filename":"controlSetting.json","format":"utf8","x":332.87508392333984,"y":333.1667528152466,"wires":[["606b5463.0c59ec","86fd6561.e784d8"]]},{"id":"606b5463.0c59ec","type":"json","z":"96fb26b6.a2cc28","name":"","x":317.87514877319336,"y":396.33335876464844,"wires":[["58a34560.390b8c","dc1843d2.4c3f2"]]},{"id":"58a34560.390b8c","type":"debug","z":"96fb26b6.a2cc28","name":"","active":false,"console":"false","complete":"false","x":351.62516021728516,"y":447.66675662994385,"wires":[]},{"id":"dc1843d2.4c3f2","type":"function","z":"96fb26b6.a2cc28","name":"set setting to flow ","func":"let setting = msg.payload;\nif (setting !== undefined) {\n    node.warn(JSON.stringify(setting));\n    context.global.setting = setting;\n    msg.payload = setting;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":583.7500534057617,"y":395.0000286102295,"wires":[["32321d4d.202ea2"]]},{"id":"3bab3de4.e429d2","type":"file","z":"96fb26b6.a2cc28","name":"","filename":"test.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":442.8187561035156,"y":223.0250244140625,"wires":[]},{"id":"4a9215.0721ddec","type":"ui_group","z":"","name":"MAC & GW ID Setting","tab":"8871fe18.b9e4b","order":1,"disp":true,"width":"12","collapse":false},{"id":"f407b6be.11a6d8","type":"ui_group","z":"","name":"MAC","tab":"8871fe18.b9e4b","order":2,"disp":true,"width":"8","collapse":false},{"id":"c70a1c52.83135","type":"ui_group","z":"","name":"GW ID","tab":"8871fe18.b9e4b","order":3,"disp":true,"width":"8","collapse":false},{"id":"8871fe18.b9e4b","type":"ui_tab","z":"","name":"Setting","icon":"dashboard","order":3}]