.nodered/flows_Jason-PC.json
[{"id":"799392fa.734d8c","type":"tab","label":"Flow 1"},{"id":"96fb26b6.a2cc28","type":"tab","label":"setting"},{"id":"a195d5a1.a0cbf8","type":"mqtt-broker","z":"","broker":"192.168.88.110","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"e805eb55.563348","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":30,"gy":20,"cx":20,"cy":15,"px":10,"py":5}}},{"id":"8871fe18.b9e4b","type":"ui_tab","z":"","name":"Setting","icon":"dashboard","order":3},{"id":"b2b80883.f35ec8","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":1},{"id":"4a9215.0721ddec","type":"ui_group","z":"","name":"MAC & GW ID Setting","tab":"8871fe18.b9e4b","order":1,"disp":true,"width":"12","collapse":false},{"id":"f407b6be.11a6d8","type":"ui_group","z":"","name":"MAC","tab":"8871fe18.b9e4b","order":2,"disp":true,"width":"8","collapse":false},{"id":"c70a1c52.83135","type":"ui_group","z":"","name":"GW ID","tab":"8871fe18.b9e4b","order":3,"disp":true,"width":"8","collapse":false},{"id":"be745adf.5b7bf8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"eacf6a95.bd48d8","type":"ui_group","z":"","name":"Light Control","tab":"b2b80883.f35ec8","order":3,"disp":true,"width":"6","collapse":false},{"id":"380c607.8677da","type":"ui_tab","z":"","name":"Automatic Control","icon":"dashboard","order":2},{"id":"5e1e127d.51574c","type":"ui_group","z":"","name":"Query Controler Status","tab":"b2b80883.f35ec8","order":5,"disp":true,"width":"8","collapse":false},{"id":"19efbcc.47af443","type":"ui_group","z":"","name":"Query Auto Control Settings","tab":"380c607.8677da","order":5,"disp":true,"width":"6","collapse":false},{"id":"22a82cf8.6ac864","type":"ui_group","z":"","name":"Query Controler Time","tab":"380c607.8677da","order":6,"disp":true,"width":"6","collapse":false},{"id":"d07fd705.2ac8c8","type":"ui_group","z":"","name":"Set Keep-Alive Interval ","tab":"b2b80883.f35ec8","order":8,"disp":true,"width":"6","collapse":false},{"id":"e0a6d0d1.23fc5","type":"ui_group","z":"","name":"Set controler time","tab":"380c607.8677da","order":2,"disp":true,"width":"6","collapse":false},{"id":"2be661c8.23135e","type":"ui_group","z":"","name":"Automatic Lighting On/Off","tab":"380c607.8677da","order":3,"disp":true,"width":"6","collapse":false},{"id":"9134b847.e065d8","type":"ui_group","z":"","name":"Node Response","tab":"380c607.8677da","order":4,"disp":true,"width":"6","collapse":false},{"id":"c4cab8e0.3bcc48","type":"ui_group","z":"","name":"Set Automatic Light Dimming Value","tab":"380c607.8677da","order":7,"disp":true,"width":"6","collapse":false},{"id":"57455ffa.c279","type":"ui_group","z":"","name":"Reset  Settings  Or Records","tab":"380c607.8677da","order":8,"disp":true,"width":"6","collapse":false},{"id":"53871702.4f9878","type":"ui_group","z":"","name":"Node Response","tab":"b2b80883.f35ec8","order":4,"disp":true,"width":"6","collapse":false},{"id":"9bc41ec0.4fb88","type":"ui_group","z":"","name":"DL Command","tab":"b2b80883.f35ec8","order":1,"disp":true,"width":"6","collapse":false},{"id":"3be479db.371326","type":"ui_group","z":"","name":"DL Command","tab":"380c607.8677da","order":1,"disp":true,"width":"6","collapse":false},{"id":"3a22401.ccb45c","type":"ui_group","z":"","name":"Query Keep-Alive Time","tab":"b2b80883.f35ec8","order":6,"disp":true,"width":"6","collapse":false},{"id":"1da35ae0.fcb625","type":"ui_group","z":"","name":"Reset Serial Port ","tab":"b2b80883.f35ec8","order":7,"disp":true,"width":"6","collapse":false},{"id":"8034df94.42bd3","type":"ui_group","z":"","name":"Reset Serial Port","tab":"380c607.8677da","order":9,"disp":true,"width":"6","collapse":false},{"id":"9973020d.af0ca","type":"ui_group","z":"","name":"Notify ","tab":"b2b80883.f35ec8","order":2,"disp":true,"width":"8","collapse":false},{"id":"989e5556.a22578","type":"ui_group","z":"","name":"Manual  DL Command","tab":"b2b80883.f35ec8","order":9,"disp":true,"width":"6","collapse":false},{"id":"26df5444.6518cc","type":"mqtt in","z":"799392fa.734d8c","name":"DL subscribe","topic":"GIOT-GW/DL/+","qos":"2","broker":"a195d5a1.a0cbf8","x":133.29999542236328,"y":264.0666904449463,"wires":[["69b635c.30f2ccc"]]},{"id":"1887ad3b.f21dc3","type":"mqtt in","z":"799392fa.734d8c","name":"UL subscribe","topic":"GIOT-GW/UL/+","qos":"2","broker":"a195d5a1.a0cbf8","x":75,"y":602.3167781829834,"wires":[["cb08e1c5.bde31","342a3069.1da3f"]]},{"id":"69b635c.30f2ccc","type":"debug","z":"799392fa.734d8c","name":"","active":false,"console":"false","complete":"false","x":343.3001022338867,"y":240.13337326049805,"wires":[]},{"id":"917e42ba.f7169","type":"comment","z":"799392fa.734d8c","name":"Receive DL flow","info":"","x":145.29998779296875,"y":224.5333333015442,"wires":[]},{"id":"bf94b5fe.b93b28","type":"comment","z":"799392fa.734d8c","name":"Receive UL flow","info":"","x":125.8001708984375,"y":409.7833614349365,"wires":[]},{"id":"5bb73bad.143494","type":"mqtt out","z":"799392fa.734d8c","name":"","topic":"","qos":"","retain":"","broker":"a195d5a1.a0cbf8","x":1090.5507469177246,"y":1561.384141921997,"wires":[]},{"id":"a6c947e.2abe2b8","type":"function","z":"799392fa.734d8c","name":"DL command","func":"// node.warn(msg.payload);\nlet setting =context.global.setting;\nlet msg1 = {\"topic\": msg.topic};\n// node.warn(JSON.stringify(setting));\nlet selectData = context.global.selectData;\nmsg.topic = 'GIOT-GW/DL/' + setting.gwId;\nlet mac = setting.mac;\nif (selectData === undefined) {\n    selectData = 'AA01010100038E';\n}\n\nlet tmp = {\"macAddr\": mac,\"data\": selectData,\"id\":\"1111111111\",\"extra\":{\"port\":1,\"txpara\":\"22\"}};\nmsg.payload = JSON.stringify([tmp]);\nmsg1.payload=\"clean\";\nreturn [msg1, msg];","outputs":"2","noerr":0,"x":801.5005302429199,"y":1520.5841994285583,"wires":[["7267be8e.37b3c","21fa9f86.61e31","473c1706.438e08","a7c5758.fa0c288"],["88063a00.bce6d8","5bb73bad.143494","f3f7f9c7.65f208"]]},{"id":"1612579e.1aff98","type":"mosca in","z":"799392fa.734d8c","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":152.29998016357422,"y":167.06663608551025,"wires":[["9ce9c7d2.e3ed78"]]},{"id":"9ce9c7d2.e3ed78","type":"debug","z":"799392fa.734d8c","name":"","active":false,"console":"false","complete":"false","x":347.30001068115234,"y":167.13330364227295,"wires":[]},{"id":"88063a00.bce6d8","type":"debug","z":"799392fa.734d8c","name":"","active":true,"console":"false","complete":"false","x":1119.8003578186035,"y":1524.0504531860352,"wires":[]},{"id":"e0a25d6c.862cb","type":"ui_slider","z":"799392fa.734d8c","name":"","label":"Adjust light","group":"eacf6a95.bd48d8","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":"10","max":"100","step":"1","x":95.67505645751953,"y":1573.2168974876404,"wires":[["4574dbfc.d482b4","7b2acbb6.548b84","7d6d7119.22737"]]},{"id":"4574dbfc.d482b4","type":"debug","z":"799392fa.734d8c","name":"","active":false,"console":"false","complete":"false","x":270.67512130737305,"y":1574.8835406303406,"wires":[]},{"id":"b00fc008.71754","type":"ui_switch","z":"799392fa.734d8c","name":"","label":"Switch","group":"eacf6a95.bd48d8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":78.67504119873047,"y":1505.8169918060303,"wires":[["942205a5.3cf768"]]},{"id":"21fa9f86.61e31","type":"function","z":"799392fa.734d8c","name":"*response control result","func":"//\n//Reply\t                Header\tSerial Number\tCommand\tCode\tResult\tChecksum\tEnd\n//控制開關燈＆調光回應\tAA\t    00\t            81\t    01\t    00\t    82\t        8E\n\n\nlet msg1 = {\"payload\": ''};\nlet msg2 = {\"payload\": ''};\nlet msg3 = {\"payload\": ''};\nlet msg4 = {\"payload\": ''};\n\nif (msg.payload !== 'clean') {\n    let obj = context.global.responseMsg;\n    // node.warn('Node response data : ' + obj.data);\n    let data = obj.data;\n    let serialNum = data.substring(2,4);\n    let command = data.substring(4,6);\n    let code = data.substring(6,8);\n    let type = '';\n    // node.warn(typeof(command) + command);\n    // node.warn(typeof(code) + code);\n    if (command === '81') { // 控制開關燈＆調光回應\n        type = 'Manual switch light or set dimming';\n    } else if (command === '82') {\n        if (code === '01') {\n            type = 'Set or disable keep-Alive interval';\n        } else if (code === '02') {\n            type = 'Set controler time';\n        } else if (code === '03') {\n            type = 'Set automatic lighting';\n        } else if (code === '04') {\n            type = 'Set automatic light dimming value';\n        } else if (code === '05') {\n            type = 'Reset settings or records';\n        }\n    } else if (command === '83') {\n        if (code === '01') {\n            type = 'Query controler status ';\n        } else if (code === '02') {\n            type = 'Query controler time';\n        } else if (code === '03') {\n            type = 'Query controler automatic lighting settings';\n        } else if (code === '04') {\n            type = 'Query Keep-Alive Interval';\n        } \n    } else if (command === 'f1') {\n        type = 'Notify';\n    }\n    var n = type.indexOf(\"Query\");\n    // node.warn('Query : ' + n);\n    let resultCode = data.substring(8,10).toUpperCase();\n    node.warn('resultCode : ' + resultCode);\n    let result = '';\n    if (n !== -1) {\n        result = '';\n    } else if (resultCode === '00') {\n       result = '00 : OK'; \n    }  else if (resultCode === 'E!') {\n       result = 'E1 : Invalid Code'; \n    }  else if (resultCode === 'E2') {\n       result = 'E2 : Incorrect PL'; \n    }  else if (resultCode === 'E3') {\n       result = 'E3 : Invalid Parameter'; \n    }  else if (resultCode === 'E4') {\n       result = 'E4 : Incorrect Checksum'; \n    }  else if (resultCode === 'E5') {\n       result = 'E5 : Without End'; \n    } else if (resultCode === 'EF') {\n       result = 'E5 : Others'; \n    }\n    node.warn(obj);\n    msg1.payload = obj.time;\n    msg2.payload = type;\n    msg3.payload = obj.data + ' -> number : ' + serialNum;\n    msg4.payload = result;\n}\n\nreturn [msg1, msg2, msg3, msg4];","outputs":"4","noerr":0,"x":789.8002777099609,"y":138.40005683898926,"wires":[["b6667f72.ca30a","ad09de26.d52ca","8c784b31.d821b8"],["b4a608a5.c15298","582b20fb.709cc"],["ac9e46a.1d325b8","ca6c1c9a.1a85"],["98f2b8d2.793628","e0b435c1.531488"]]},{"id":"cb08e1c5.bde31","type":"json","z":"799392fa.734d8c","name":"","x":80.80022430419922,"y":547.9834308624268,"wires":[["8332077d.67e308"]]},{"id":"b6667f72.ca30a","type":"debug","z":"799392fa.734d8c","name":"","active":false,"console":"false","complete":"false","x":880.0503768920898,"y":38.99998664855957,"wires":[]},{"id":"7b2acbb6.548b84","type":"function","z":"799392fa.734d8c","name":"*save global.lighting","func":"let lighting = msg.payload;\n context.global.lighting = lighting;\nreturn msg;","outputs":1,"noerr":0,"x":308.67504119873047,"y":1534.283537387848,"wires":[[]]},{"id":"942205a5.3cf768","type":"function","z":"799392fa.734d8c","name":"#Set Comman","func":"//控制開關燈＆調光\tHeader\tSerial Number\tCommand\tCode\tPL\tParameter\tChecksum\tEnd\n//關燈              AA\t    00             \t01    \t01    \t01\t00\t        03\t        8E\n//開燈\t            AA    \t00\t           \t01\t    01\t  \t01\tE4\t        E7\t        8E\n//調光10%\t        AA\t    00\t           \t01\t    01\t  \t01\t8A\t        8D\t        8E\n\nlet setting = context.global.setting;\n// node.warn(JSON.stringify(setting));\nlet data = getData(msg.payload);\n\ncontext.global.selectData = data;\nreturn msg;\n\nfunction getData(flag) {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    //a1 = 0x00;\n    let a2 = 0x01;//Command\n    let a3 = 0x01;//Code\n    let a4 = 0x01;//PL\n    let a5 = 0x00;//Praraeter 1 : 關燈\n    if(flag) {\n        a5 = 0xE4;//Praraeter 1 : 開燈\n    } \n    \n    let a6 = a2 + a3 + a4 + a5 ; //Checksum\n    // node.warn('before a7 :' + a7);\n    a6 = a6 & 0xFF;\n    // node.warn('after a7 :' + a7);\n    let a7 = 0x8E;//End\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    test = test + toStr(a6) + toStr(a7);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}","outputs":1,"noerr":0,"x":256.6749954223633,"y":1498.283447265625,"wires":[["a6c947e.2abe2b8"]]},{"id":"72820e72.2baec","type":"inject","z":"96fb26b6.a2cc28","name":"","topic":"","payload":"{\"test\":\"todo\"}","payloadType":"json","repeat":"","crontab":"","once":true,"x":95.25001525878906,"y":499.500057220459,"wires":[["1cf6e438.c132dc"]]},{"id":"63e7cc5b.43a114","type":"ui_form","z":"96fb26b6.a2cc28","name":"","label":"","group":"4a9215.0721ddec","order":0,"width":"0","height":"0","options":[{"label":"Lora MAC","value":"mac","type":"text","required":true},{"label":"GW ID","value":"gwId","type":"text","required":true}],"formValue":{"mac":"","gwId":""},"payload":"","topic":"","x":125.99982452392578,"y":167.28314399719238,"wires":[["6efd80ab.4aacf"]]},{"id":"79048108.95f75","type":"debug","z":"96fb26b6.a2cc28","name":"","active":true,"console":"false","complete":"false","x":752.0001068115234,"y":167.9665927886963,"wires":[]},{"id":"6efd80ab.4aacf","type":"function","z":"96fb26b6.a2cc28","name":"set setting to flow ","func":"let setting = msg.payload;\n\ncontext.global.setting = setting;\n// node.warn(JSON.stringify(context.global.setting));\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":310.99983978271484,"y":169.29978275299072,"wires":[["1cf6e438.c132dc","19fe4955.1fd307"]]},{"id":"ade25ffe.f7502","type":"comment","z":"96fb26b6.a2cc28","name":"MAC & GW ID setting","info":"","x":176.99981689453125,"y":123.21647644042969,"wires":[]},{"id":"79bf183e.64d788","type":"ui_text_input","z":"96fb26b6.a2cc28","name":"","label":"","group":"f407b6be.11a6d8","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":898.7498893737793,"y":247.8167266845703,"wires":[[]]},{"id":"32321d4d.202ea2","type":"function","z":"96fb26b6.a2cc28","name":"","func":"let setting = context.global.setting;\nif (setting) {\n    let msg1 = {\"payload\": setting.mac};\n    let msg2 = {\"payload\": setting.gwId};\n    return [msg1, msg2];\n}\n","outputs":"2","noerr":0,"x":736.749927520752,"y":268.2168941497803,"wires":[["79bf183e.64d788","bc6d3880.060078"],["f6e693d2.2f897","d2f353eb.181e4"]]},{"id":"fb176c6.0667e9","type":"comment","z":"96fb26b6.a2cc28","name":"Show current MAC","info":"","x":697.7498397827148,"y":224.21663093566895,"wires":[]},{"id":"f6e693d2.2f897","type":"ui_text_input","z":"96fb26b6.a2cc28","name":"","label":"","group":"c70a1c52.83135","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":899.4498558044434,"y":299.01659393310547,"wires":[[]]},{"id":"bc6d3880.060078","type":"debug","z":"96fb26b6.a2cc28","name":"","active":false,"console":"false","complete":"false","x":906.7499237060547,"y":208.14992332458496,"wires":[]},{"id":"d2f353eb.181e4","type":"debug","z":"96fb26b6.a2cc28","name":"","active":false,"console":"false","complete":"false","x":904.4498405456543,"y":343.0165710449219,"wires":[]},{"id":"d6f1778a.265a68","type":"file","z":"96fb26b6.a2cc28","name":"","filename":"controlSetting.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":851.2500534057617,"y":105.6829719543457,"wires":[]},{"id":"1cf6e438.c132dc","type":"function","z":"96fb26b6.a2cc28","name":"check setting","func":"let setting = context.global.setting;\ncontext.global.serialNum = 0x00;\n// node.warn(JSON.stringify(setting));\nif (setting) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":132.99984741210938,"y":270.749755859375,"wires":[["1c10b6b8.f31f19"]]},{"id":"1c10b6b8.f31f19","type":"switch","z":"96fb26b6.a2cc28","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":296.9999008178711,"y":272.4162769317627,"wires":[["32321d4d.202ea2"],["a8b89ed4.1e106"]]},{"id":"19fe4955.1fd307","type":"function","z":"96fb26b6.a2cc28","name":"","func":"let setting = context.global.setting;\n// node.warn(JSON.stringify(setting));\nmsg.payload = setting;\nreturn msg;","outputs":1,"noerr":0,"x":534.5,"y":170.29986381530762,"wires":[["79048108.95f75","d6f1778a.265a68"]]},{"id":"a8b89ed4.1e106","type":"file in","z":"96fb26b6.a2cc28","name":"","filename":"controlSetting.json","format":"utf8","x":332.87508392333984,"y":333.1667528152466,"wires":[["606b5463.0c59ec","86fd6561.e784d8"]]},{"id":"606b5463.0c59ec","type":"json","z":"96fb26b6.a2cc28","name":"","x":317.87514877319336,"y":396.33335876464844,"wires":[["58a34560.390b8c","dc1843d2.4c3f2"]]},{"id":"86fd6561.e784d8","type":"debug","z":"96fb26b6.a2cc28","name":"","active":false,"console":"false","complete":"false","x":475.37508392333984,"y":290.16675567626953,"wires":[]},{"id":"58a34560.390b8c","type":"debug","z":"96fb26b6.a2cc28","name":"","active":false,"console":"false","complete":"false","x":351.62516021728516,"y":447.66675662994385,"wires":[]},{"id":"dc1843d2.4c3f2","type":"function","z":"96fb26b6.a2cc28","name":"set setting to flow ","func":"let setting = msg.payload;\nif (setting !== undefined) {\n    node.warn(JSON.stringify(setting));\n    context.global.setting = setting;\n    msg.payload = setting;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":583.7500534057617,"y":395.0000286102295,"wires":[["32321d4d.202ea2"]]},{"id":"7699e9f7.e292b8","type":"comment","z":"799392fa.734d8c","name":"Clean field","info":"","x":892.9430160522461,"y":1282.55730342865,"wires":[]},{"id":"c6a019fd.255118","type":"ui_button","z":"799392fa.734d8c","name":"","group":"eacf6a95.bd48d8","order":4,"width":0,"height":0,"passthru":false,"label":"Set Dimming value","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":122.87496566772461,"y":1678.2832961082458,"wires":[["98ec8e96.d8dea"]]},{"id":"98ec8e96.d8dea","type":"function","z":"799392fa.734d8c","name":"#Set Command","func":"//控制開關燈＆調光\tHeader\tSerial Number\tCommand\tCode\tPL\tParameter\tChecksum\tEnd\n//關燈              AA\t    00             \t01    \t01    \t01\t00\t        03\t        8E\n//開燈\t            AA    \t00\t           \t01\t    01\t  \t01\tE4\t        E7\t        8E\n//調光10%\t        AA\t    00\t           \t01\t    01\t  \t01\t8A\t        8D\t        8E\nlet lighting = context.global.lighting; \n// node.warn('lighting->' + lighting);\nlet data = getData(lighting);\n// node.warn('data : ' + data);\nmsg.payload = data;\ncontext.global.selectData = data;\nreturn msg;\n\n\nfunction getData(num) {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x01;//Command\n    let a3 = 0x01;//Code\n    let a4 = 0x01;//PL\n    let a5 = num | 0x80;//Praraeter 1 : 調光\n    let a6 = a2 + a3 + a4 + a5 ; //Checksum\n    // node.warn('before a7 :' + a7);\n    a6 = a6 & 0xFF;\n    // node.warn('after a7 :' + a7);\n    let a7 = 0x8E;//End\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    test = test + toStr(a6) + toStr(a7);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    return str.toUpperCase();\n}","outputs":1,"noerr":0,"x":361.674991607666,"y":1678.6167902946472,"wires":[["4a665cf1.74ea44","a6c947e.2abe2b8"]]},{"id":"4a665cf1.74ea44","type":"debug","z":"799392fa.734d8c","name":"","active":false,"console":"false","complete":"false","x":509.6750679016113,"y":1633.5500473976135,"wires":[]},{"id":"8332077d.67e308","type":"function","z":"799392fa.734d8c","name":"Command type","func":"let arr = msg.payload;\nlet obj = arr[0];\nlet data = obj.data;\ncontext.global.responseMsg = obj;\nlet buff = new Buffer(data, 'hex');\nlet command = buff[2];\n// node.warn(command); \n\nmsg.payload = command;\nreturn msg;","outputs":1,"noerr":0,"x":277.8002700805664,"y":548.1167316436768,"wires":[["fc3ec3e6.f99b1","21fa9f86.61e31"]]},{"id":"fc3ec3e6.f99b1","type":"switch","z":"799392fa.734d8c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"131","vt":"str"},{"t":"eq","v":"241","vt":"str"}],"checkall":"true","outputs":2,"x":433.4826774597168,"y":548.6905841827393,"wires":[["998caafe.a211c8"],["45d203d.6ba4efc"]]},{"id":"cc240a98.9fcab8","type":"comment","z":"799392fa.734d8c","name":"重設serial port ","info":"","x":102.2499771118164,"y":1726.9165573120117,"wires":[]},{"id":"134d6e8d.1a1111","type":"comment","z":"799392fa.734d8c","name":"控制開關燈","info":"","x":96.99998092651367,"y":1451.1667199134827,"wires":[]},{"id":"dfeba370.15b7e","type":"comment","z":"799392fa.734d8c","name":"Manual light","info":"","x":91.99998092651367,"y":1622.4167199134827,"wires":[]},{"id":"8bfc4878.0e6d78","type":"function","z":"799392fa.734d8c","name":"DL command","func":"let selectData = context.global.selectData;\nlet setting =context.global.setting;\nmsg.topic = 'GIOT-GW/DL/' + setting.gwId;\nlet mac = setting.mac;\nlet tmp = {\"macAddr\": mac,\"data\": selectData,\"id\":\"1111111111\",\"extra\":{\"port\":1,\"txpara\":\"22\"}};\nmsg.payload = JSON.stringify([tmp]);\nlet msg1 = {\"payload\": \"clean\"};\nreturn [msg, msg1];","outputs":"2","noerr":0,"x":351.1664924621582,"y":422.49991846084595,"wires":[["fd0ea161.c3874","49537ec0.f1ff1"],["fd306b01.6a9808"]]},{"id":"fd0ea161.c3874","type":"mqtt out","z":"799392fa.734d8c","name":"","topic":"","qos":"","retain":"","broker":"a195d5a1.a0cbf8","x":752.416576385498,"y":346.49999141693115,"wires":[]},{"id":"fd306b01.6a9808","type":"function","z":"799392fa.734d8c","name":"Query code 01","func":"/*\n回傳路燈狀態\n            Header   Serial Notify Code DL light v1  c1  c2  p1  p2  p3   checksum End   \n                AA\t 00\t    83\t   01\t07\tE4\t 12\t 00\t 64\t 00\t 03\t E8\t   D0\t    8E\n            buff 0   1      2      3    4   5     6   7   8   9   10  11   12       13\n主動通知: Header   Serial Notify Code  DL  light v1  c1  c2  p1  p2  p3  時  分  秒  checksum End  \nKeep-Alive    AA\t00\t    F1\t   01\t0A\tE4\t 12\t 00\t 64\t 00\t 03\t E8\t 08\t 00\t 00\t 49\t      8E\nBoot Up       AA    00\t    F1\t   00\t0A  E4\t 12  00  64  00  03  E8  08  00  00  48\t      8E\nbuff           0     1      2      3    4   5    6   7   8   9   10  11  12  13  14  15       1\n*/\nlet msg1 = {\"payload\": ''};\nlet msg2 = {\"payload\": ''};\nlet msg3 = {\"payload\": ''};\nlet msg4 = {\"payload\": ''};\nlet msg5 = {\"payload\": ''};\nlet msg6 = {\"payload\": ''};\nlet msg7 = {\"payload\": ''};\nlet msg8 = {\"payload\": ''};\n// node.warn(msg.payload);\nif (msg.payload !== 'clean') {\n    let obj = context.global.responseMsg;\n    let data = obj.data;\n    let buff = new Buffer(data, 'hex');\n    let lightSwitch = (buff[5] & 0x80) ? \"ON\" : \"OFF\";\n    let light = (buff[5] & 0x7F);\n    let voltage = buff[6];\n    let currentStr = data.substring(14,18); //buff7~8\n    let current = parseInt(currentStr,16) / 100;\n    let powerStr = data.substring(18,24);   //buff9~11\n    let power = parseInt(powerStr,16) / 100;\n    let timeStr = data.substring(24,30);   //buff12~14\n    /*node.warn('lightSwitch : ' + lightSwitch);\n    node.warn('voltage : ' + voltage);\n    node.warn('current : ' + current);\n    node.warn('power : ' + power);*/\n    \n    msg1 = {\"payload\": obj.time};\n    msg2 = {\"payload\": obj.data};\n    msg3 = {\"payload\": lightSwitch};\n    msg4 = {\"payload\": light};\n    msg5 = {\"payload\": data.substring(10,12) + ' -> ' + voltage};\n    msg6 = {\"payload\": currentStr + ' -> ' + current};\n    msg7 = {\"payload\": powerStr + ' -> ' + power};\n    if (buff[2] === 241) {//Notidy 0xF1\n        let code = buff[3];\n        let message = '';\n        if (code === 0) { //Boot up\n            message = 'Boot Up';\n        } else if (code === 1) {\n            let day1 = context.global.aliveStartTime;\n            let day2 = new Date(obj.time);\n            // node.warn(typeof(day1) + ' : ' + day1 + '->' + day1.getTime());\n            // node.warn(typeof(day2) + ' : ' + day2 + '->' + day2.getTime());\n            let result = (day2.getTime() - day1.getTime())/1000;\n            message = getDateStr(day1)+ '->'+ getDateStr(day2) + ' = '+ result + 'seconds';\n            context.global.aliveStartTime = day2;\n        }\n        msg8 = {\"payload\": message};\n        // node.warn('Node response Keep-Alive data : ' + data);\n    } /* else {\n        node.warn('Node response query current status data : ' + data);\n    }*/\n    \n}\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8];\n\nfunction getDateStr(mDate) {\n    let year = mDate.getFullYear();\n    let month =  getData(mDate.getMonth() + 1);\n    let day = getData(mDate.getDate());\n    let hour = getData(mDate.getHours());\n    let minute = getData(mDate.getMinutes());\n    let second = getData(mDate.getSeconds());\n    /*node.warn(year);\n    node.warn(month);\n    node.warn(day);\n    node.warn(hour);\n    node.warn(minute);\n    node.warn(second);*/\n    let str = year + '-' + month + '-' + day + ' ';\n    str = str + hour + ':' + minute + ':' + second;\n    return str;\n}\n\nfunction getData(data) {\n    if (data < 10) {\n        return '0' + data;\n    } else {\n        return data;\n    }\n}","outputs":"8","noerr":0,"x":982.3752593994141,"y":427.8333435058594,"wires":[["9f559477.0fbf28"],["36d602a9.e8025e"],["b816073e.e61b38"],["3b088392.aac6ac"],["ae9a6725.cecfa8"],["b026944.c286968"],["b454c0ae.76b6c"],["6ffb65d4.aa218c"]]},{"id":"342a3069.1da3f","type":"debug","z":"799392fa.734d8c","name":"","active":true,"console":"false","complete":"false","x":289.375,"y":603.833330154419,"wires":[]},{"id":"49537ec0.f1ff1","type":"debug","z":"799392fa.734d8c","name":"","active":false,"console":"false","complete":"false","x":770.7082748413086,"y":303.4999694824219,"wires":[]},{"id":"17e640f6.e5a94f","type":"ui_button","z":"799392fa.734d8c","name":"","group":"5e1e127d.51574c","order":2,"width":0,"height":0,"passthru":false,"label":"Query Status","color":"","bgcolor":"#be9927","icon":"","payload":"","payloadType":"str","topic":"","x":124.99996948242188,"y":360.38094425201416,"wires":[["30c5bf52.bffea"]]},{"id":"ad09de26.d52ca","type":"ui_text","z":"799392fa.734d8c","group":"53871702.4f9878","order":5,"width":0,"height":0,"name":"","label":"Date : ","format":"{{msg.payload}}","layout":"row-left","x":1117.4285583496094,"y":45.000022888183594,"wires":[]},{"id":"c96abd98.8d39e","type":"ui_template","z":"799392fa.734d8c","group":"5e1e127d.51574c","name":"","order":1,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n<p>Verify current light, voltage, current and power ... etc</p>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":116.2857894897461,"y":438.7618741989136,"wires":[[]]},{"id":"ac9e46a.1d325b8","type":"ui_text","z":"799392fa.734d8c","group":"53871702.4f9878","order":7,"width":0,"height":0,"name":"","label":"Data : ","format":"{{msg.payload}}","layout":"row-left","x":1122.4284133911133,"y":149.57141876220703,"wires":[]},{"id":"98f2b8d2.793628","type":"ui_text","z":"799392fa.734d8c","group":"53871702.4f9878","order":8,"width":0,"height":0,"name":"","label":"Result : ","format":"{{msg.payload}}","layout":"row-left","x":1149.285737991333,"y":199.14284133911133,"wires":[]},{"id":"9f559477.0fbf28","type":"ui_text","z":"799392fa.734d8c","group":"5e1e127d.51574c","order":3,"width":0,"height":0,"name":"","label":"Date : ","format":"{{msg.payload}}","layout":"row-left","x":1228.57124710083,"y":245.8571356534958,"wires":[]},{"id":"36d602a9.e8025e","type":"ui_text","z":"799392fa.734d8c","group":"5e1e127d.51574c","order":4,"width":0,"height":0,"name":"","label":"Data : ","format":"{{msg.payload}}","layout":"row-left","x":1229.142677307129,"y":283.5714340209961,"wires":[]},{"id":"a66d9737.816e08","type":"comment","z":"799392fa.734d8c","name":"Control","info":"","x":591.8570976257324,"y":355.3333201408386,"wires":[]},{"id":"b816073e.e61b38","type":"ui_text","z":"799392fa.734d8c","group":"5e1e127d.51574c","order":5,"width":0,"height":0,"name":"","label":"Switch : ","format":"{{msg.payload}}","layout":"row-left","x":1235.1425285339355,"y":320.28568840026855,"wires":[]},{"id":"2e688d2b.11f632","type":"inject","z":"799392fa.734d8c","name":"Manual test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":313.0000457763672,"y":318.66664695739746,"wires":[["30c5bf52.bffea"]]},{"id":"3b088392.aac6ac","type":"ui_text","z":"799392fa.734d8c","group":"5e1e127d.51574c","order":6,"width":0,"height":0,"name":"","label":"Light : ","format":"{{msg.payload}}","layout":"row-left","x":1222.428295135498,"y":355.4285316467285,"wires":[]},{"id":"7d6d7119.22737","type":"ui_text","z":"799392fa.734d8c","group":"eacf6a95.bd48d8","order":3,"width":0,"height":0,"name":"","label":"Light : ","format":"{{msg.payload}}","layout":"row-left","x":263.5893211364746,"y":1613.4762749671936,"wires":[]},{"id":"ae9a6725.cecfa8","type":"ui_text","z":"799392fa.734d8c","group":"5e1e127d.51574c","order":7,"width":0,"height":0,"name":"","label":"Voltage : ","format":"{{msg.payload}}","layout":"row-left","x":1239.285472869873,"y":393.76184272766113,"wires":[]},{"id":"b026944.c286968","type":"ui_text","z":"799392fa.734d8c","group":"5e1e127d.51574c","order":8,"width":0,"height":0,"name":"","label":"Current : ","format":"{{msg.payload}}","layout":"row-left","x":1238.7140655517578,"y":427.42853927612305,"wires":[]},{"id":"b454c0ae.76b6c","type":"ui_text","z":"799392fa.734d8c","group":"5e1e127d.51574c","order":9,"width":0,"height":0,"name":"","label":"Power : ","format":"{{msg.payload}}","layout":"row-left","x":1238.4282722473145,"y":462.1427936553955,"wires":[]},{"id":"b88527ac.9f4098","type":"comment","z":"799392fa.734d8c","name":"查詢控制器自動開關路燈設定","info":"","x":165.85712814331055,"y":643.1427865028381,"wires":[]},{"id":"c71abaff.843c48","type":"ui_button","z":"799392fa.734d8c","name":"","group":"19efbcc.47af443","order":0,"width":0,"height":0,"passthru":false,"label":"Query automatic control setting","color":"","bgcolor":"#be9927","icon":"","payload":"","payloadType":"str","topic":"query-auto-control-setting","x":179.42856979370117,"y":678.2380537986755,"wires":[["85d9f6ea.7496a8","c1b4ba02.9d3a98"]]},{"id":"85d9f6ea.7496a8","type":"function","z":"799392fa.734d8c","name":"#set command","func":"// AA                   03      03   06        8E\n// Header Serial Number\tCommand\tCode Checksum  End\n// AA\t  00\t        03\t    03\t 06\t       8E\n\ncontext.global.selectData =  getData();\n// node.warn(context.global.selectData);\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x03;//Command (查詢控制器自動開關路燈設定)\n    let a3 = 0x03;//Code\n    \n    let a4 = a2 + a3; //Checksum\n    a4 = a4 & 0xFF;\n    let a5 = 0x8E;\n    \n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}","outputs":1,"noerr":0,"x":511.9999656677246,"y":684.8094038963318,"wires":[["a6c947e.2abe2b8"]]},{"id":"c1b4ba02.9d3a98","type":"debug","z":"799392fa.734d8c","name":"","active":false,"console":"false","complete":"false","x":432.8571586608887,"y":648.5237669944763,"wires":[]},{"id":"7267be8e.37b3c","type":"function","z":"799392fa.734d8c","name":"Query code 03","func":"\nlet msg1 = {\"payload\": ''};\nlet msg2 = {\"payload\": ''};\nlet msg3 = {\"payload\": ''};\nlet msg4 = {\"payload\": ''};\nlet msg5 = {\"payload\": ''};\nlet msg6 = {\"payload\": ''};\nif (msg.payload !== 'clean') {\n    let obj = context.global.responseMsg;\n    let data = obj.data;\n    node.warn('Node response data : ' + data);\n    let buff = new Buffer(data, 'hex');\n    let statusCode = (buff[4]) ;\n    let status = '00 -> Disable automatic lighting on and off';\n    if (statusCode === 1) {\n        status = '00 -> Enable automatic lighting off';\n    } else if (statusCode === 2) {\n        status = '00 -> Enable automatic lighting on';\n    } else if (statusCode === 3) {\n        status = '00 -> Enable automatic lighting on and off';\n    }\n    let light = buff[5];\n    let onHex = data.substring(12,16);\n    let offHex = data.substring(16,20);\n    let onStr = buff[6] + ':' + toStr(buff[7]);\n    let offStr = buff[8] + ':' + toStr(buff[9]);\n    \n    msg1 = {\"payload\": obj.time};\n    msg2 = {\"payload\": obj.data};\n    msg3 = {\"payload\": status};\n    msg4 = {\"payload\": data.substring(10,12) + ' -> ' + light};\n    msg5 = {\"payload\": onHex + ' -> ' + onStr};\n    msg6 = {\"payload\": offHex + ' -> ' + offStr};\n}\n\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":"7","noerr":0,"x":986.1426391601562,"y":732.2857298851013,"wires":[["c051561a.651f08"],["c901ed0f.40bef"],["9bb31fd8.2c828"],["8f59269.973fcd8"],["7c9ab3db.e217ec"],["52047035.f3e36"],[]]},{"id":"c051561a.651f08","type":"ui_text","z":"799392fa.734d8c","group":"19efbcc.47af443","order":0,"width":0,"height":0,"name":"","label":"Date : ","format":"{{msg.payload}}","layout":"row-left","x":1244.9998779296875,"y":639.999936580658,"wires":[]},{"id":"c901ed0f.40bef","type":"ui_text","z":"799392fa.734d8c","group":"19efbcc.47af443","order":0,"width":0,"height":0,"name":"","label":"Data : ","format":"{{msg.payload}}","layout":"row-left","x":1242.5712585449219,"y":678.7141699790955,"wires":[]},{"id":"9bb31fd8.2c828","type":"ui_text","z":"799392fa.734d8c","group":"19efbcc.47af443","order":0,"width":0,"height":0,"name":"","label":"Status : ","format":"{{msg.payload}}","layout":"row-left","x":1252.5711135864258,"y":715.4284262657166,"wires":[]},{"id":"8f59269.973fcd8","type":"ui_text","z":"799392fa.734d8c","group":"19efbcc.47af443","order":0,"width":0,"height":0,"name":"","label":"Light : ","format":"{{msg.payload}}","layout":"row-left","x":1243.8568801879883,"y":751.5713429450989,"wires":[]},{"id":"7c9ab3db.e217ec","type":"ui_text","z":"799392fa.734d8c","group":"19efbcc.47af443","order":0,"width":0,"height":0,"name":"","label":"Lghting on : ","format":"{{msg.payload}}","layout":"row-left","x":1265.7140579223633,"y":784.9046158790588,"wires":[]},{"id":"52047035.f3e36","type":"ui_text","z":"799392fa.734d8c","group":"19efbcc.47af443","order":0,"width":0,"height":0,"name":"","label":"Lghting off : ","format":"{{msg.payload}}","layout":"row-left","x":1263.1426429748535,"y":822.5713124275208,"wires":[]},{"id":"a4cfa06d.37b4b","type":"ui_button","z":"799392fa.734d8c","name":"","group":"22a82cf8.6ac864","order":0,"width":0,"height":0,"passthru":false,"label":"Query Controler time","color":"","bgcolor":"#be9927","icon":"","payload":"","payloadType":"str","topic":"","x":147.95229148864746,"y":765.6666140556335,"wires":[["aa01a0e1.8cb65","b5a87369.7e9a"]]},{"id":"aa01a0e1.8cb65","type":"function","z":"799392fa.734d8c","name":"#set command","func":"// AA                   03      02   05        8E\n// Header Serial Number\tCommand\tCode Checksum  End\n// AA\t  00\t        03\t    02\t 05\t       8E\n\ncontext.global.selectData =  getData();\nnode.warn(context.global.selectData);\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x03;//Command\n    let a3 = 0x02;//Code (查詢控制器目前時間)\n    \n    let a4 = a2 + a3; //Checksum\n    a4 = a4 & 0xFF;\n    let a5 = 0x8E;\n    \n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}","outputs":1,"noerr":0,"x":465.5237236022949,"y":793.2379183769226,"wires":[["a6c947e.2abe2b8"]]},{"id":"b5a87369.7e9a","type":"debug","z":"799392fa.734d8c","name":"","active":false,"console":"false","complete":"false","x":446.380916595459,"y":742.9522528648376,"wires":[]},{"id":"a7c5758.fa0c288","type":"function","z":"799392fa.734d8c","name":"Query code 02","func":"//Reply\tHeader Serial Command Code DL 年  月  日  時  分  秒  Checksum End\n//    \tAA\t   00\t  83\t  02   06 12  03  01  08  00  00  A9\t    8E\n\nlet msg1 = {\"payload\": ''};\n\nif (msg.payload !== 'clean') {\n    // node.warn('$$$$$$$$$$$$$$');\n    let obj = context.global.responseMsg;\n    let data = obj.data;\n    node.warn('Node response data : ' + data);\n    let buff = new Buffer(data, 'hex');\n    let year = (buff[5]+2000);\n    let month = (buff[6]);\n    let day = (buff[7]) ;\n    let hour = (buff[8]) ;\n    let minute = (buff[9]) ;\n    let second = (buff[10]) ;\n    let timeStr = data.substring(10, 22);\n    let time = year + '-' + toStr(month) + '-' + toStr(day) + ' ';\n    time = time + toStr(hour) + ':' + toStr(minute) + ':' + toStr(second);\n    let message =timeStr + ' -> ' + time;\n    msg1 = {\"payload\": message};\n}\n\n\nreturn msg1;\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 10) {\n        str = '0' + value;\n    } else {\n        str = value;\n    }\n    // node.warn(str);\n    return str;\n}","outputs":"1","noerr":0,"x":999.7494659423828,"y":575.0001163482666,"wires":[["b0012437.6437f8"]]},{"id":"b0012437.6437f8","type":"ui_text","z":"799392fa.734d8c","group":"22a82cf8.6ac864","order":0,"width":0,"height":0,"name":"","label":"Current time : ","format":"{{msg.payload}}","layout":"row-left","x":1259.999496459961,"y":578.5000553131104,"wires":[]},{"id":"6ffb65d4.aa218c","type":"ui_text","z":"799392fa.734d8c","group":"5e1e127d.51574c","order":11,"width":0,"height":0,"name":"","label":"From : ","format":"{{msg.payload}}","layout":"row-left","x":1227.0182571411133,"y":503.0247983932495,"wires":[]},{"id":"d214ee91.a3ac1","type":"ui_button","z":"799392fa.734d8c","name":"","group":"d07fd705.2ac8c8","order":2,"width":0,"height":0,"passthru":false,"label":"Setting Keep-Alive","color":"","bgcolor":"","icon":"","payload":"AA0302058E","payloadType":"str","topic":"","x":125.84602355957031,"y":1334.691463470459,"wires":[["40b50fe3.09fc4"]]},{"id":"40b50fe3.09fc4","type":"function","z":"799392fa.734d8c","name":"#set command","func":"//設定Keep-Alive時間間隔 Header Serial Command Code\tPL\tParameter1~3 Checksum End\n//Disable Keep-Alive\t  AA\t00\t   02\t   01\t03\t00\t00\t00\t 06\t      8E\n//設定Keep-Alive為3600秒  AA\t00\t   02\t   01\t03\t00\t0E\t10\t 24\t      8E\n//請求MCU重新開始計數\t  AA\t00\t   02\t   01\t03\tFF\tFF\tFF\t 03\t      8E\n \ncontext.global.lastTime = new Date();\nlet aliveTime = context.global.aliveTime;\n// node.warn(aliveTime);\nlet msg1 ={};\nif (aliveTime < 10 || aliveTime > 86400) {\n    msg1.payload  = 'Keep-Alive times < 10 seconds or > 86400 seconds! please resrt the times';\n    return [msg1, null];\n}\ncontext.global.selectData = getData(aliveTime);\nlet newDate = new Date();\n// newDate.setTime(newDate.getTime() + (newDate.getTimezoneOffset() *60*1000));\ncontext.global.aliveStartTime = newDate;\nreturn [null, msg];\n\nfunction getData(num) {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x02; // Command\n    let a3 = 0x01; // Code\n    let a4 = 0x03; // PL\n    let a5 = num >> 16;\n    let a6 = (num & 0x00FF00) >> 8;\n    let a7 = (num & 0x0000FF);\n    let a8 = a2 + a3 + a4 + a5 + a6 + a7;\n    let a9 = 0x8E;\n    /*node.warn(num);\n    node.warn(a5);\n    node.warn(a6);\n    node.warn(a7);*/\n    context.global.serialNum = serialNum;\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4);\n    test = test + toStr(a5) + toStr(a6) + toStr(a7) + toStr(a8) + toStr(a9);\n    // node.warn(test);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    return str.toUpperCase();\n}\n\n","outputs":"2","noerr":0,"x":334.4174499511719,"y":1334.262752532959,"wires":[["4aaef13a.8bd4f"],["a6c947e.2abe2b8"]]},{"id":"3cb6d19d.c58c5e","type":"ui_text_input","z":"799392fa.734d8c","name":"","label":"Time ( 10seconds ~ 86400 seconds)","group":"d07fd705.2ac8c8","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":201.78747177124023,"y":1253.0124564170837,"wires":[["ec7ab56b.a3ef48"]]},{"id":"ec7ab56b.a3ef48","type":"function","z":"799392fa.734d8c","name":"#set global.aliveTime","func":"let field = msg.payload;\nlet aliveTime = Number(msg.payload);\n// node.warn(typeof field );\ncontext.global.aliveTime = aliveTime;\nreturn msg;","outputs":"1","noerr":0,"x":503.7874183654785,"y":1253.8874335289001,"wires":[["64542c9f.65ec54"]]},{"id":"64542c9f.65ec54","type":"debug","z":"799392fa.734d8c","name":"","active":false,"console":"false","complete":"false","x":723.7935791015625,"y":1307.6872668266296,"wires":[]},{"id":"ed2443f8.8eb04","type":"ui_button","z":"799392fa.734d8c","name":"","group":"d07fd705.2ac8c8","order":2,"width":0,"height":0,"passthru":false,"label":"Disable Keep-Alive","color":"","bgcolor":"Gray","icon":"","payload":"","payloadType":"str","topic":"","x":135.89369201660156,"y":1371.0247135162354,"wires":[["f43aaf48.f3673"]]},{"id":"f43aaf48.f3673","type":"function","z":"799392fa.734d8c","name":"#set  command","func":"context.global.selectData = getData();\n\n// AA0201020000058E\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n   if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x02;\n    let a3 = 0x01;\n    let a4 = 0x03;\n    let a5 = 0x00;\n    let a6 = 0x00;\n    let a7 = 0x00;\n    let a8 = a2 + a3 + a4 + a5 + a6 + a7;\n    let a9 = 0x8E;\n    \n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4);\n    test = test + toStr(a5) + toStr(a6) + toStr(a7) + toStr(a8) + toStr(a9);\n    node.warn(test);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    return str.toUpperCase();\n}","outputs":1,"noerr":0,"x":336.89378356933594,"y":1370.0247135162354,"wires":[["a6c947e.2abe2b8"]]},{"id":"3a636998.24c7d6","type":"ui_toast","z":"799392fa.734d8c","position":"top right","displayTime":"20","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1384.9114227294922,"y":1004.8248138427734,"wires":[]},{"id":"daf550f8.5b39f","type":"comment","z":"799392fa.734d8c","name":"Setting Keep-Alive","info":"","x":122.78747177124023,"y":1297.574954509735,"wires":[]},{"id":"25ad7789.521418","type":"comment","z":"799392fa.734d8c","name":"查詢控制器目前時間","info":"","x":134.01874160766602,"y":728.024739742279,"wires":[]},{"id":"6c074119.e511a","type":"ui_text_input","z":"799392fa.734d8c","name":"","label":"Year","group":"e0a6d0d1.23fc5","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":92.9124870300293,"y":972.0248837471008,"wires":[["98385297.3e96d"]]},{"id":"d219ea80.d7a718","type":"ui_text_input","z":"799392fa.734d8c","name":"","label":"Month","group":"e0a6d0d1.23fc5","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":88.01874160766602,"y":1011.0248761177063,"wires":[["45a1cafe.3a7654"]]},{"id":"40fc0d40.e4d4e4","type":"ui_text_input","z":"799392fa.734d8c","name":"","label":"Day","group":"e0a6d0d1.23fc5","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":91.01874160766602,"y":1047.0248761177063,"wires":[["a9fa2405.6eba68"]]},{"id":"a4f70e8d.56e2d","type":"ui_text_input","z":"799392fa.734d8c","name":"","label":"Hours","group":"e0a6d0d1.23fc5","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":94.01874160766602,"y":1082.0248761177063,"wires":[["af5f54c.93014a8"]]},{"id":"65f32ffa.05281","type":"ui_text_input","z":"799392fa.734d8c","name":"","label":"Minutes","group":"e0a6d0d1.23fc5","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":98.1249885559082,"y":1123.0248351097107,"wires":[["d09b092c.1a8448"]]},{"id":"d3dfd5b0.b27508","type":"ui_text_input","z":"799392fa.734d8c","name":"","label":"seconds","group":"e0a6d0d1.23fc5","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":102.12499618530273,"y":1157.0248684883118,"wires":[["3453089.d9549f8"]]},{"id":"98385297.3e96d","type":"function","z":"799392fa.734d8c","name":"*save global.selectYear","func":"context.global.selectYear = Number(msg.payload);\nnode.warn(typeof context.global.selectYear + context.global.selectYear)\nreturn msg;","outputs":1,"noerr":0,"x":301.01874923706055,"y":970.0248761177063,"wires":[[]]},{"id":"45a1cafe.3a7654","type":"function","z":"799392fa.734d8c","name":"*save global.selectMonth","func":"context.global.selectMonth = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":308.01874923706055,"y":1005.0248761177063,"wires":[[]]},{"id":"a9fa2405.6eba68","type":"function","z":"799392fa.734d8c","name":"*save global.selectDay","func":"context.global.selectDay = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":300.01874923706055,"y":1045.0248761177063,"wires":[[]]},{"id":"af5f54c.93014a8","type":"function","z":"799392fa.734d8c","name":"*save global.selectHour","func":"context.global.selectHour = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":304.01874923706055,"y":1080.0248761177063,"wires":[[]]},{"id":"d09b092c.1a8448","type":"function","z":"799392fa.734d8c","name":"*save global.selectMinute","func":"context.global.selectMinute = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":315.01874923706055,"y":1117.0248761177063,"wires":[[]]},{"id":"3453089.d9549f8","type":"function","z":"799392fa.734d8c","name":"*save global.selectSecond","func":"// node.warn('secondes : ' + msg.payload);\ncontext.global.selectSecond = Number(msg.payload);\nnode.warn('context.global.selectSecond : ' + context.global.selectSecond);\nreturn msg;","outputs":1,"noerr":0,"x":313.0187454223633,"y":1155.02485704422,"wires":[[]]},{"id":"2c026c6e.a51de4","type":"ui_button","z":"799392fa.734d8c","name":"","group":"e0a6d0d1.23fc5","order":0,"width":0,"height":0,"passthru":false,"label":"Setting time","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":102.91247177124023,"y":1201.1436148881912,"wires":[["69c09778.20c9c8"]]},{"id":"69c09778.20c9c8","type":"function","z":"799392fa.734d8c","name":"#set command","func":"if (context.global.selectYear === undefined) {\n    return [null,{\"payload\":\"Year is not defined\"}];\n}\nif (context.global.selectMonth === undefined) {\n    return [null,{\"payload\":\"Month is not defined\"}];\n}\nif (context.global.selectDay === undefined) {\n    return [null,{\"payload\":\"Day is not defined\"}];\n}\nif (context.global.selectHour === undefined) {\n    return [null,{\"payload\":\"Hour is not defined\"}];\n}\nif (context.global.selectMinute === undefined) {\n    return [null,{\"payload\":\"Minute is not defined\"}];\n}\nif (context.global.selectSecond === undefined) {\n    return [null,{\"payload\":\"Second is not defined\"}];\n}\ncontext.global.selectData =  getData();\nnode.warn(context.global.selectData);\nreturn [msg, null];\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x02;//Command\n    let a3 = 0x02;//Code\n    let a4 = 0x06;//PL\n    let a5 = context.global.selectYear - 2000; //Parameter1\n    let a6 = context.global.selectMonth;       //Parameter2\n    let a7 = context.global.selectDay;         //Parameter3\n    let a8 = context.global.selectHour;        //Parameter4\n    let a9 = context.global.selectMinute;      //Parameter5\n    let a10 = context.global.selectSecond;      //Parameter6\n    \n    let a11 = a2 + a3 + a4 + a5;\n    a11 = a11 + a6 + a7 + a8 + a9 + a10;\n    // node.warn('before a10 :' + a10);\n    a11 = a11 & 0xFF; //Checksum\n    // node.warn('after a10 :' + a10);\n    let a12 = 0x8E;\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5) + toStr(a6);\n    test = test + toStr(a7) + toStr(a8) + toStr(a9) + toStr(a10) + toStr(a11)  + toStr(a12) ;\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":"2","noerr":0,"x":292.0187568664551,"y":1202.024766087532,"wires":[["a6c947e.2abe2b8"],["fc1429c.6070dd8"]]},{"id":"2b91039c.4369cc","type":"comment","z":"799392fa.734d8c","name":"設定控制器時間","info":"","x":123.9249382019043,"y":933.574872136116,"wires":[]},{"id":"88b38a92.7d7158","type":"comment","z":"799392fa.734d8c","name":"查詢路燈狀態","info":"","x":117.11872100830078,"y":320.57483100891113,"wires":[]},{"id":"fc1429c.6070dd8","type":"ui_toast","z":"799392fa.734d8c","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":556.9186706542969,"y":1208.8249217271805,"wires":[]},{"id":"473953c.47f2eac","type":"ui_text_input","z":"799392fa.734d8c","name":"","label":"Hours","group":"2be661c8.23135e","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":96.01873397827148,"y":1856.0249123573303,"wires":[["a6813d85.a9e6c"]]},{"id":"a6813d85.a9e6c","type":"function","z":"799392fa.734d8c","name":"*save global.autoHour","func":"context.global.autoHour = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":306.018741607666,"y":1854.0249123573303,"wires":[[]]},{"id":"a43c8801.e15f98","type":"ui_text_input","z":"799392fa.734d8c","name":"","label":"Minutes","group":"2be661c8.23135e","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":100.12498092651367,"y":1897.0248713493347,"wires":[["80f11500.705318"]]},{"id":"80f11500.705318","type":"function","z":"799392fa.734d8c","name":"*save global.autoMinute","func":"context.global.autoMinute = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":307.018741607666,"y":1891.0249123573303,"wires":[[]]},{"id":"89c11299.7a204","type":"comment","z":"799392fa.734d8c","name":"Auto lifgting on & off with time setting","info":"","x":193.91875839233398,"y":1817.7811160087585,"wires":[]},{"id":"b8073422.938c38","type":"ui_button","z":"799392fa.734d8c","name":"","group":"2be661c8.23135e","order":4,"width":0,"height":0,"passthru":false,"label":"Enable Auto Lighting Off","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":146.91874313354492,"y":1985.143657207489,"wires":[["ea4ba9c8.8ee958"]]},{"id":"6b6d5ac1.70d584","type":"ui_button","z":"799392fa.734d8c","name":"","group":"2be661c8.23135e","order":5,"width":0,"height":0,"passthru":false,"label":"Enable Auto Lighting On","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":142.01874160766602,"y":2032.0248446464539,"wires":[["5f00cd5d.11d4f4"]]},{"id":"e0d3ce1b.40198","type":"ui_button","z":"799392fa.734d8c","name":"","group":"2be661c8.23135e","order":6,"width":0,"height":0,"passthru":false,"label":"Disable Auto Light ng Off","color":"","bgcolor":"gray","icon":"","payload":"","payloadType":"str","topic":"","x":142.01874160766602,"y":2073.024844646454,"wires":[["435a76d5.c2ad98"]]},{"id":"7d8359f5.7155e8","type":"ui_button","z":"799392fa.734d8c","name":"","group":"2be661c8.23135e","order":7,"width":0,"height":0,"passthru":false,"label":"Disable Auto Lighting On","color":"","bgcolor":"gray","icon":"","payload":"","payloadType":"str","topic":"","x":146.01873397827148,"y":2118.024844646454,"wires":[["83daa9cb.e65948"]]},{"id":"8fdd301d.440c9","type":"ui_button","z":"799392fa.734d8c","name":"","group":"2be661c8.23135e","order":8,"width":0,"height":0,"passthru":false,"label":"Disable Auto Lighting On & Off","color":"","bgcolor":"gray","icon":"","payload":"","payloadType":"str","topic":"","x":165.01873397827148,"y":2163.024844646454,"wires":[["b5871315.72ac5"]]},{"id":"ea4ba9c8.8ee958","type":"function","z":"799392fa.734d8c","name":"#set command","func":"/*設定自動開關燈\tHeader\tSerial Number\tCommand\tCode\tPL\t自動 時  分  秒 c   End\n啟動自動關燈，動作時間 07:00\tAA\t00\t    02\t    03\t    04\t01\t 07\t 00\t 00\t11\t8E\n啟動自動開燈，動作時間 17:00\tAA\t00\t    02\t    03\t    04\t02\t 11\t 00\t 00\t1C\t8E\n關閉自動關燈\t                AA\t00\t    02\t    03\t    04\tF1\t 00\t 00\t 00\tFA\t8E\n關閉自動開燈\t                AA\t00\t    02\t    03\t    04\tF2\t 00\t 00\t 00\tFB\t8E\n關閉自動關燈&自動開燈\t        AA\t00\t    02\t    03\t    04\tF3\t 00\t 00\t 00\tFC\t8E\n*/\n\n\nif (context.global.autoHour === undefined) {\n    return [null,{\"payload\":\"Auto lighting : Hours is not defined\"}];\n}\nif (context.global.autoMinute === undefined) {\n    return [null,{\"payload\":\"Auto lighting : Minutes is not defined\"}];\n}\nif (context.global.autoSecond === undefined) {\n    return [null,{\"payload\":\"Auto lighting : Seconds is not defined\"}];\n}\n\ncontext.global.selectData =  getData();\n// node.warn(context.global.selectData);\nreturn [msg, null];\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x02;//Command\n    let a3 = 0x03;//Code\n    let a4 = 0x04;//PL\n    let a5 = 0x01;//Praraeter 1 : 啟動自動關燈\n    let a6 = context.global.autoHour;//Praraeter 2\n    let a7 = context.global.autoMinute;////Praraeter 3\n    let a8 = context.global.autoSecond;////Praraeter 4\n    \n    let a9 = a2 + a3 + a4 + a5 + a6 + a7 + a8; //Checksum\n    // node.warn('before a7 :' + a7);\n    a9 = a9 & 0xFF;\n    // node.warn('after a7 :' + a7);\n    let a10 = 0x8E;\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    test = test + toStr(a6) + toStr(a7) + toStr(a8) + toStr(a9) + toStr(a10);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":"2","noerr":0,"x":371.01874923706055,"y":1983.0248446464539,"wires":[["a6c947e.2abe2b8"],["f5aef2bc.ec015"]]},{"id":"f5aef2bc.ec015","type":"ui_toast","z":"799392fa.734d8c","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":721.9187126159668,"y":2050.818545818329,"wires":[]},{"id":"5f00cd5d.11d4f4","type":"function","z":"799392fa.734d8c","name":"#set command","func":"/*設定自動開關燈\tHeader\tSerial Number\tCommand\tCode\tPL\t\"Parameter1\n(自動開燈/自動關燈)\"\t\"Parameter2\n(動作時間-時)\"\t\"Parameter3\n(動作時間-分)\"\t\"Parameter4\n(動作時間-秒)\"\tChecksum\tEnd\n啟動自動關燈，動作時間 07:00\tAA\t00\t02\t03\t04\t01\t07\t00\t00\t11\t8E\n啟動自動開燈，動作時間 17:00\tAA\t00\t02\t03\t04\t02\t11\t00\t00\t1C\t8E\n關閉自動關燈\t                AA\t00\t02\t03\t04\tF1\t00\t00\t00\tFA\t8E\n關閉自動開燈\t                AA\t00\t02\t03\t04\tF2\t00\t00\t00\tFB\t8E\n關閉自動關燈&自動開燈\t        AA\t00\t02\t03\t04\tF3\t00\t00\t00\tFC\t8E\n*/\nif (context.global.autoHour === undefined) {\n    return [null,{\"payload\":\"Auto lighting : Hours is not defined\"}];\n}\nif (context.global.autoMinute === undefined) {\n    return [null,{\"payload\":\"Auto lighting : Minutes is not defined\"}];\n}\nif (context.global.autoSecond === undefined) {\n    return [null,{\"payload\":\"Auto lighting : Seconds is not defined\"}];\n}\n\ncontext.global.selectData =  getData();\n// node.warn(context.global.selectData);\nreturn [msg, null];\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x02;//Command\n    let a3 = 0x03;//Code\n    let a4 = 0x04;//PL\n    let a5 = 0x02;//Praraeter 1 : 啟動自動開燈\n    let a6 = context.global.autoHour;//Praraeter 2\n    let a7 = context.global.autoMinute;////Praraeter 3\n    let a8 = context.global.autoSecond;////Praraeter 4\n    \n    let a9 = a2 + a3 + a4 + a5 + a6 + a7 + a8; //Checksum\n    // node.warn('before a7 :' + a7);\n    a9 = a9 & 0xFF;\n    // node.warn('after a7 :' + a7);\n    let a10 = 0x8E;\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    test = test + toStr(a6) + toStr(a7) + toStr(a8) + toStr(a9) + toStr(a10);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":"2","noerr":0,"x":377.01874923706055,"y":2032.0248465538025,"wires":[["a6c947e.2abe2b8"],["f5aef2bc.ec015"]]},{"id":"435a76d5.c2ad98","type":"function","z":"799392fa.734d8c","name":"#set command","func":"/*設定自動開關燈\tHeader\tSerial Number\tCommand\tCode\tPL\t\"Parameter1\n(自動開燈/自動關燈)\"\t\"Parameter2\n(動作時間-時)\"\t\"Parameter3\n(動作時間-分)\"\t\"Parameter4\n(動作時間-秒)\"\tChecksum\tEnd\n啟動自動關燈，動作時間 07:00\tAA\t00\t02\t03\t04\t01\t07\t00\t00\t11\t8E\n啟動自動開燈，動作時間 17:00\tAA\t00\t02\t03\t04\t02\t11\t00\t00\t1C\t8E\n關閉自動關燈\t                AA\t00\t02\t03\t04\tF1\t00\t00\t00\tFA\t8E\n關閉自動開燈\t                AA\t00\t02\t03\t04\tF2\t00\t00\t00\tFB\t8E\n關閉自動關燈&自動開燈\t        AA\t00\t02\t03\t04\tF3\t00\t00\t00\tFC\t8E\n*/\ncontext.global.selectData =  getData();\n// node.warn(context.global.selectData);\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x02;//Command\n    let a3 = 0x03;//Code\n    let a4 = 0x04;//PL\n    let a5 = 0xF1;//Praraeter 1 : 關閉自動關燈\n    let a6 = 0x00;//Praraeter 2\n    let a7 = 0x00;////Praraeter 3\n    let a8 = 0x00;////Praraeter 4\n    \n    let a9 = a2 + a3 + a4 + a5 + a6 + a7 + a8; //Checksum\n    // node.warn('before a7 :' + a7);\n    a9 = a9 & 0xFF;\n    // node.warn('after a7 :' + a7);\n    let a10 = 0x8E;\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    test = test + toStr(a6) + toStr(a7) + toStr(a8) + toStr(a9) + toStr(a10);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":"1","noerr":0,"x":372.0187568664551,"y":2079.0248351097107,"wires":[["a6c947e.2abe2b8"]]},{"id":"83daa9cb.e65948","type":"function","z":"799392fa.734d8c","name":"#set command","func":"/*設定自動開關燈\tHeader\tSerial Number\tCommand\tCode\tPL\t\"Parameter1\n(自動開燈/自動關燈)\"\t\"Parameter2\n(動作時間-時)\"\t\"Parameter3\n(動作時間-分)\"\t\"Parameter4\n(動作時間-秒)\"\tChecksum\tEnd\n啟動自動關燈，動作時間 07:00\tAA\t00\t02\t03\t04\t01\t07\t00\t00\t11\t8E\n啟動自動開燈，動作時間 17:00\tAA\t00\t02\t03\t04\t02\t11\t00\t00\t1C\t8E\n關閉自動關燈\t                AA\t00\t02\t03\t04\tF1\t00\t00\t00\tFA\t8E\n關閉自動開燈\t                AA\t00\t02\t03\t04\tF2\t00\t00\t00\tFB\t8E\n關閉自動關燈&自動開燈\t        AA\t00\t02\t03\t04\tF3\t00\t00\t00\tFC\t8E\n*/\ncontext.global.selectData =  getData();\n// node.warn(context.global.selectData);\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x02;//Command\n    let a3 = 0x03;//Code\n    let a4 = 0x04;//PL\n    let a5 = 0xF2;//Praraeter 1 : 關閉自動開燈\n    let a6 = 0x00;//Praraeter 2\n    let a7 = 0x00;////Praraeter 3\n    let a8 = 0x00;////Praraeter 4\n    \n    let a9 = a2 + a3 + a4 + a5 + a6 + a7 + a8; //Checksum\n    // node.warn('before a7 :' + a7);\n    a9 = a9 & 0xFF;\n    // node.warn('after a7 :' + a7);\n    let a10 = 0x8E;\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    test = test + toStr(a6) + toStr(a7) + toStr(a8) + toStr(a9) + toStr(a10);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":"1","noerr":0,"x":384.01874923706055,"y":2121.024844646454,"wires":[["a6c947e.2abe2b8"]]},{"id":"b5871315.72ac5","type":"function","z":"799392fa.734d8c","name":"#set command","func":"/*設定自動開關燈\tHeader\tSerial Number\tCommand\tCode\tPL\t\"Parameter1\n(自動開燈/自動關燈)\"\t\"Parameter2\n(動作時間-時)\"\t\"Parameter3\n(動作時間-分)\"\t\"Parameter4\n(動作時間-秒)\"\tChecksum\tEnd\n啟動自動關燈，動作時間 07:00\tAA\t00\t02\t03\t04\t01\t07\t00\t00\t11\t8E\n啟動自動開燈，動作時間 17:00\tAA\t00\t02\t03\t04\t02\t11\t00\t00\t1C\t8E\n關閉自動關燈\t                AA\t00\t02\t03\t04\tF1\t00\t00\t00\tFA\t8E\n關閉自動開燈\t                AA\t00\t02\t03\t04\tF2\t00\t00\t00\tFB\t8E\n關閉自動關燈&自動開燈\t        AA\t00\t02\t03\t04\tF3\t00\t00\t00\tFC\t8E\n*/\ncontext.global.selectData =  getData();\n// node.warn(context.global.selectData);\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x02;//Command\n    let a3 = 0x03;//Code\n    let a4 = 0x04;//PL\n    let a5 = 0xF3;//Praraeter 1 : 關閉自動關燈&自動開燈\n    let a6 = 0x00;//Praraeter 2\n    let a7 = 0x00;////Praraeter 3\n    let a8 = 0x00;////Praraeter 4\n    \n    let a9 = a2 + a3 + a4 + a5 + a6 + a7 + a8; //Checksum\n    // node.warn('before a7 :' + a7);\n    a9 = a9 & 0xFF;\n    // node.warn('after a7 :' + a7);\n    let a10 = 0x8E;\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    test = test + toStr(a6) + toStr(a7) + toStr(a8) + toStr(a9) + toStr(a10);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":"1","noerr":0,"x":389.01874923706055,"y":2164.024844646454,"wires":[["a6c947e.2abe2b8"]]},{"id":"8c784b31.d821b8","type":"ui_text","z":"799392fa.734d8c","group":"9134b847.e065d8","order":1,"width":0,"height":0,"name":"","label":"Date : ","format":"{{msg.payload}}","layout":"row-left","x":1236.6187629699707,"y":41.99999237060547,"wires":[]},{"id":"ca6c1c9a.1a85","type":"ui_text","z":"799392fa.734d8c","group":"9134b847.e065d8","order":3,"width":0,"height":0,"name":"","label":"Data : ","format":"{{msg.payload}}","layout":"row-left","x":1252.6187591552734,"y":142.0249900817871,"wires":[]},{"id":"e0b435c1.531488","type":"ui_text","z":"799392fa.734d8c","group":"9134b847.e065d8","order":4,"width":0,"height":0,"name":"","label":"Result : ","format":"{{msg.payload}}","layout":"row-left","x":1299.8187103271484,"y":200.024995803833,"wires":[]},{"id":"473c1706.438e08","type":"debug","z":"799392fa.734d8c","name":"Check clean","active":false,"console":"false","complete":"payload","x":1110.0186576843262,"y":1487.2249693870544,"wires":[]},{"id":"e197c0d9.ae352","type":"ui_slider","z":"799392fa.734d8c","name":"","label":"Adjust light","group":"c4cab8e0.3bcc48","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":"10","max":"100","step":"1","x":123.01872634887695,"y":2244.0249972343445,"wires":[["435c152e.6ae58c","9709f58b.4fc528","76129919.03b9a8"]]},{"id":"435c152e.6ae58c","type":"debug","z":"799392fa.734d8c","name":"","active":true,"console":"false","complete":"false","x":422.3521308898926,"y":2246.3583426475525,"wires":[]},{"id":"9709f58b.4fc528","type":"function","z":"799392fa.734d8c","name":"*save global.autoLighting","func":"let lighting = msg.payload;\ncontext.global.autoLighting = lighting;\nreturn msg;","outputs":1,"noerr":0,"x":357.01872634887695,"y":2209.0915360450745,"wires":[[]]},{"id":"bee37ec8.7d4f3","type":"ui_button","z":"799392fa.734d8c","name":"","group":"c4cab8e0.3bcc48","order":4,"width":0,"height":0,"passthru":false,"label":"Set Dimming","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":131.2186508178711,"y":2353.0912947654724,"wires":[["e64fbd77.10b01"]]},{"id":"e64fbd77.10b01","type":"function","z":"799392fa.734d8c","name":"#Set command","func":"//設定自動開燈時的調光數值\tHeader\tSerial Number\tCommand\tCode\tPL\tParameter (調光值)\tChecksum\tEnd\n//設定自動開燈調光值=100%\tAA      00\t            02\t    04\t    01\t64\t                6B\t        8E\n\nlet lighting = context.global.autoLighting; \n// node.warn('lighting->' + lighting);\nlet data = getData(lighting);\n// node.warn('data : ' + data);\nmsg.payload = data;\ncontext.global.selectData = data;\nreturn msg;\n\nfunction getData(num) {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x02;//Command\n    let a3 = 0x04;//Code\n    let a4 = 0x01;//PL\n    let a5 = num; //Parameter\n    let tmp = a2 + a3 + a4 + a5 ;\n    let a6 = 0x0FF && tmp;//checksum\n    let a7 = 0x8E;//End\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3);\n    test = test + toStr(a4) + toStr(a5) + toStr(a6)  + toStr(a7);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    return str.toUpperCase();\n}","outputs":1,"noerr":0,"x":321.57421493530273,"y":2351.5359053611755,"wires":[["a6c947e.2abe2b8"]]},{"id":"5f7d6429.4bee7c","type":"comment","z":"799392fa.734d8c","name":"Adjust light","info":"","x":120.34366607666016,"y":2297.2247185707092,"wires":[]},{"id":"76129919.03b9a8","type":"ui_text","z":"799392fa.734d8c","group":"c4cab8e0.3bcc48","order":3,"width":0,"height":0,"name":"","label":"Light : ","format":"{{msg.payload}}","layout":"row-left","x":291.9330062866211,"y":2288.28427362442,"wires":[]},{"id":"f97d38d9.63f068","type":"ui_button","z":"799392fa.734d8c","name":"","group":"57455ffa.c279","order":0,"width":0,"height":0,"passthru":false,"label":"Reset setting","color":"","bgcolor":"#87A980","icon":"","payload":"","payloadType":"str","topic":"","x":130.92498397827148,"y":2457.1435866355896,"wires":[["a5623d31.ac27"]]},{"id":"c3b1f9bf.7dfeb8","type":"comment","z":"799392fa.734d8c","name":"Reset to default","info":"","x":128.91874313354492,"y":2416.587342739105,"wires":[]},{"id":"a5623d31.ac27","type":"function","z":"799392fa.734d8c","name":"#set comman","func":"//回復設定或清除紀錄\tHeader\tSerial Number\tCommand\tCode\tPL\tParameter\tChecksum\tEnd\n//回復原廠設定值\t    AA\t    00\t            02      05    \t01\t00        \t08        \t8E\n//清除用電紀錄(kWh)\t    AA\t    00\t            02    \t05    \t01\t01        \t09        \t8E\n\ncontext.global.selectData =  getData();\n// node.warn(context.global.selectData);\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x02;//Command\n    let a3 = 0x05;//Code\n    let a4 = 0x01;//PL\n    let a5 = 0x00;//Praraeter 1(回復原廠預設值) \n    \n    let a6 = a2 + a3 + a4 + a5;\n    // node.warn('before a6 :' + a6);\n    a6 = a6 & 0xFF;\n    let a7 = 0x8E;\n    \n    // node.warn('after a6 :' + a6);\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4);\n    test = test + toStr(a5) + toStr(a6) +  toStr(a7);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":"1","noerr":0,"x":325.01874923706055,"y":2456.024884700775,"wires":[["a6c947e.2abe2b8"]]},{"id":"f6a93de1.35ab1","type":"ui_button","z":"799392fa.734d8c","name":"","group":"57455ffa.c279","order":0,"width":0,"height":0,"passthru":false,"label":"Reset Record","color":"","bgcolor":"#AAAA66","icon":"","payload":"","payloadType":"str","topic":"","x":130.01874160766602,"y":2518.024896144867,"wires":[["b2b9b8b9.74bce8"]]},{"id":"b2b9b8b9.74bce8","type":"function","z":"799392fa.734d8c","name":"#set command","func":"//回復設定或清除紀錄\tHeader\tSerial Number\tCommand\tCode\tPL\tParameter\tChecksum\tEnd\n//回復原廠設定值\t    AA\t    00\t            02      05    \t01\t00        \t08        \t8E\n//清除用電紀錄(kWh)\t    AA\t    00\t            02    \t05    \t01\t01        \t09        \t8E\ncontext.global.selectData =  getData();\n// node.warn(context.global.selectData);\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x02;//Command\n    let a3 = 0x05;//Code\n    let a4 = 0x01;//PL\n    let a5 = 0x01;//Praraeter 1 (清除用電紀錄)\n    \n    let a6 = a2 + a3 + a4 + a5;\n    // node.warn('before a6 :' + a6);\n    a6 = a6 & 0xFF;\n    let a7 = 0x8E;\n    \n    // node.warn('after a6 :' + a6);\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4);\n    test = test + toStr(a5) + toStr(a6) +  toStr(a7);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}","outputs":"1","noerr":0,"x":336.1125030517578,"y":2519.9061312675476,"wires":[["a6c947e.2abe2b8"]]},{"id":"b4a608a5.c15298","type":"ui_text","z":"799392fa.734d8c","group":"53871702.4f9878","order":6,"width":0,"height":0,"name":"","label":"Type : ","format":"{{msg.payload}}","layout":"row-left","x":1130.8186721801758,"y":100.02498054504395,"wires":[]},{"id":"582b20fb.709cc","type":"ui_text","z":"799392fa.734d8c","group":"9134b847.e065d8","order":2,"width":0,"height":0,"name":"","label":"Type : ","format":"{{msg.payload}}","layout":"row-left","x":1256.8187103271484,"y":95.02498817443848,"wires":[]},{"id":"44cb94c9.e974ec","type":"function","z":"799392fa.734d8c","name":"get command","func":"let arr = msg.payload;\n// node.warn(arr);\nlet obj =arr[0];\n// node.warn(obj);\nmsg.payload = obj.data + ' -> number : ' +  obj.data.substring(2,4);\nreturn msg;","outputs":1,"noerr":0,"x":1250.1123504638672,"y":1281.8876695632935,"wires":[["57b37ccd.c2c684","b7444e15.1d4d","467acc73.397d74"]]},{"id":"57b37ccd.c2c684","type":"debug","z":"799392fa.734d8c","name":"","active":false,"console":"false","complete":"false","x":1488.7249870300293,"y":1244.8999280929565,"wires":[]},{"id":"aa967333.bd4e7","type":"json","z":"799392fa.734d8c","name":"","x":1062.1248359680176,"y":1269.3437614440918,"wires":[["44cb94c9.e974ec"]]},{"id":"f3f7f9c7.65f208","type":"json","z":"799392fa.734d8c","name":"","x":1063.1124114990234,"y":1312.3436698913574,"wires":[["44cb94c9.e974ec"]]},{"id":"3bab3de4.e429d2","type":"file","z":"96fb26b6.a2cc28","name":"","filename":"test.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":442.8187561035156,"y":223.0250244140625,"wires":[]},{"id":"4aaef13a.8bd4f","type":"ui_toast","z":"799392fa.734d8c","position":"top right","displayTime":"10","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":566.9186515808105,"y":1342.6374583244324,"wires":[]},{"id":"1f18ab2e.5981a5","type":"ui_text_input","z":"799392fa.734d8c","name":"","label":"Seconds","group":"2be661c8.23135e","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":104.01874160766602,"y":1932.024896144867,"wires":[["9c0bed48.0061a"]]},{"id":"9c0bed48.0061a","type":"function","z":"799392fa.734d8c","name":"*save global.autoSecond","func":"context.global.autoSecond = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":324.01874923706055,"y":1932.024896144867,"wires":[[]]},{"id":"30c5bf52.bffea","type":"function","z":"799392fa.734d8c","name":"#Set comman","func":"//Header Serial Number\tCommand\tCode\tChecksum\tEnd\n//AA\t 00  \t        03\t    01\t    04\t        8E\n\ncontext.global.selectData =  getData();\nnode.warn(context.global.selectData);\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    \n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x03;//Command\n    let a3 = 0x01;//Code (查詢路燈狀態)\n    \n    let a4 = a2 + a3; //Checksum\n    // node.warn('before a6 :' + a6);\n    a4 = a4 & 0xFF;\n    let a5 = 0x8E;\n    \n    // node.warn('after a6 :' + a6);\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":1,"noerr":0,"x":359.01876068115234,"y":360.02490425109863,"wires":[["8bfc4878.0e6d78"]]},{"id":"4d8806f3.355cb8","type":"ui_button","z":"799392fa.734d8c","name":"","group":"3a22401.ccb45c","order":0,"width":0,"height":0,"passthru":false,"label":"Query Keep-Alive Time","color":"","bgcolor":"#be9927","icon":"","payload":"","payloadType":"str","topic":"","x":151.01873397827148,"y":858.0249028205872,"wires":[["9e51be94.4f7e1","5cbbf668.b41dd8"]]},{"id":"9e51be94.4f7e1","type":"function","z":"799392fa.734d8c","name":"#set command","func":"// Header Serial Number\tCommand\tCode Checksum  End\n// AA\t  00\t        03\t    04\t 07\t       8E\n\ncontext.global.selectData =  getData();\nnode.warn(context.global.selectData);\nmsg.payload = 'clean';\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x03;//Command\n    let a3 = 0x04;//Code (查詢控制器Keep-Alive設定值)\n    \n    let a4 = a2 + a3; //Checksum\n    a4 = a4 & 0xFF;\n    let a5 = 0x8E;\n    \n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}","outputs":1,"noerr":0,"x":439.5901679992676,"y":884.5961909294128,"wires":[["a6c947e.2abe2b8","c415dc4e.997db"]]},{"id":"5cbbf668.b41dd8","type":"debug","z":"799392fa.734d8c","name":"","active":false,"console":"false","complete":"false","x":439.44736671447754,"y":845.3105959892273,"wires":[]},{"id":"dc897245.98bf1","type":"comment","z":"799392fa.734d8c","name":"查詢控制器Keep-Alive設定值","info":"","x":157.08518600463867,"y":820.3831076622009,"wires":[]},{"id":"afb0b0fa.cc761","type":"ui_button","z":"799392fa.734d8c","name":"","group":"1da35ae0.fcb625","order":2,"width":0,"height":0,"passthru":false,"label":"Start accumulating Searial Port","color":"","bgcolor":"#008000","icon":"","payload":"true","payloadType":"bool","topic":"","x":324.01874923706055,"y":1727.0251998901367,"wires":[["187cf0f8.9c06ef"]]},{"id":"187cf0f8.9c06ef","type":"function","z":"799392fa.734d8c","name":"*save global.enableSerialNum","func":"context.global.enableSerialNum = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":636.9185638427734,"y":1743.6748600006104,"wires":[[]]},{"id":"f0fd676d.7e1808","type":"ui_button","z":"799392fa.734d8c","name":"","group":"1da35ae0.fcb625","order":2,"width":0,"height":0,"passthru":false,"label":"Stop accumulating and  Reset zeros","color":"","bgcolor":"#669999","icon":"","payload":"false","payloadType":"bool","topic":"","x":331.01874923706055,"y":1768.0249042510986,"wires":[["187cf0f8.9c06ef"]]},{"id":"58283211.3ec84c","type":"comment","z":"799392fa.734d8c","name":"Query 83","info":"","x":596.8186645507812,"y":510.0248851776123,"wires":[]},{"id":"998caafe.a211c8","type":"function","z":"799392fa.734d8c","name":"query code type","func":"let obj = context.global.responseMsg;\nlet data = obj.data;\nlet buff = new Buffer(data, 'hex');\nlet code = buff[3];\nmsg.payload = code;\n// node.warn(code); \nreturn msg;","outputs":1,"noerr":0,"x":590.3249206542969,"y":544.6749620437622,"wires":[["23b87cf9.0a4d04"]]},{"id":"23b87cf9.0a4d04","type":"switch","z":"799392fa.734d8c","name":"Query code","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","outputs":4,"x":767.9248504638672,"y":547.5124263763428,"wires":[["fd306b01.6a9808"],["a7c5758.fa0c288"],["7267be8e.37b3c"],["c415dc4e.997db"]]},{"id":"42ab89be.8064b8","type":"comment","z":"799392fa.734d8c","name":"回傳路燈狀態","info":"","x":975.418701171875,"y":343.0249938964844,"wires":[]},{"id":"2b5694b.be9306c","type":"comment","z":"799392fa.734d8c","name":"回傳控制器目前時間","info":"","x":992.418701171875,"y":523.0250244140625,"wires":[]},{"id":"7f4a687c.1d02e8","type":"comment","z":"799392fa.734d8c","name":"Clean field","info":"","x":767.6187133789062,"y":424.0249938964844,"wires":[]},{"id":"fd9a8102.a5d65","type":"comment","z":"799392fa.734d8c","name":"回傳控制器自動開關路燈設定","info":"","x":1022.4186172485352,"y":643.024950504303,"wires":[]},{"id":"45d203d.6ba4efc","type":"function","z":"799392fa.734d8c","name":"notify code type","func":"let obj = context.global.responseMsg;\nlet data = obj.data;\nlet buff = new Buffer(data, 'hex');\nlet code = buff[3];\nmsg.payload = code;\n//node.warn(code); \nreturn msg;","outputs":1,"noerr":0,"x":734.0001220703125,"y":891.0001468658447,"wires":[["7a1bbd4b.3ad8d4"]]},{"id":"c2e5618d.29651","type":"comment","z":"799392fa.734d8c","name":"主動通知訊息 F1","info":"","x":745.4187545776367,"y":854.0248756408691,"wires":[]},{"id":"7a1bbd4b.3ad8d4","type":"switch","z":"799392fa.734d8c","name":"notify code ","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"2","vt":"num"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":2,"x":908.4186553955078,"y":953.0250720977783,"wires":[["fd306b01.6a9808","63d0213d.984ea"],["63d0213d.984ea"]]},{"id":"c415dc4e.997db","type":"function","z":"799392fa.734d8c","name":"#Query code 04","func":"/*\nReply\tHeader\tSerial Number\tCommand\tCode\t\"DL\n(Data Length)\"\t\"Data1(MSB)\n(Keep-Alive設定值)\"\t\"Data1\n(Keep-Alive設定值)\"\t\"Data1(LSB)\n(Keep-Alive設定值)\"\tChecksum\tEnd\n回傳控制器Keep-Alive設定值\tAA\t00\t83\t04\t03\t00\t0E\t10\tA8\t8E\n*/\nlet msg1 = {\"payload\": ''};\n\nif (msg.payload !== 'clean') {\n    // node.warn('$$$$$$$$$$$$$$');\n    let obj = context.global.responseMsg;\n    let data = obj.data;\n    // node.warn('Node response data : ' + data);\n    let buff = new Buffer(data, 'hex');\n    let timeStr = data.substring(10,16);\n    let time = parseInt(timeStr,16) + ' seconds';\n    // node.warn('timeStr : ' + timeStr);\n    // node.warn('time : ' + time);\n    let message = timeStr + ' -> ' + time;\n    msg1 = {\"payload\": message};\n}\n\n\nreturn msg1;","outputs":"1","noerr":0,"x":984.4186706542969,"y":860.0250043869019,"wires":[["170eb65f.d442da"]]},{"id":"170eb65f.d442da","type":"ui_text","z":"799392fa.734d8c","group":"3a22401.ccb45c","order":0,"width":0,"height":0,"name":"","label":"Interval : ","format":"{{msg.payload}}","layout":"row-left","x":1251.4187927246094,"y":863.0249981880188,"wires":[]},{"id":"4b565a2f.89ad24","type":"comment","z":"799392fa.734d8c","name":"回傳控制器Keep-Alive設定值","info":"","x":1013.4187088012695,"y":822.0250487327576,"wires":[]},{"id":"63d0213d.984ea","type":"function","z":"799392fa.734d8c","name":"notify parser","func":"/*\n             Header Serial Notify Code DL  動作 時  分  秒 調光 checksum End\n自動關燈通知\tAA\t00\t   F1\t  02   05\t01\t07\t00\t00\t64\t64\t     8E\n自動開燈通知\tAA\t00\t   F1\t  02   05\t02\t11\t00\t00\t64\t6F\t     8E\n\n主動通知: Header   Serial Notify Code  DL  light v1  c1  c2  p1  p2  p3  時  分  秒  checksum End  \nKeep-Alive    AA\t00\t    F1\t   01\t0A\tE4\t 12\t 00\t 64\t 00\t 03\t E8\t 08\t 00\t 00\t 49\t      8E\nBoot Up       AA    00\t    F1\t   00\t0A  E4\t 12  00  64  00  03  E8  08  00  00  48\t      8E\nbuff           0     1      2      3    4   5    6   7   8   9   10  11  12  13  14  15       16\n*/\nlet msg1 = {\"payload\": ''};\nlet msg2 = {\"payload\": ''};\nlet msg3 = {\"payload\": ''};\n\nif (msg.payload !== 'clean') {\n    // node.warn('$$$$$$$$$$$$$$');\n    let obj = context.global.responseMsg;\n    let data = obj.data;\n    // node.warn('Node response data : ' + data);\n    let buff = new Buffer(data, 'hex');\n    let content = '';\n    let code = buff[3];\n    let action = buff[5];\n    let hours;\n    let minutes;\n    let seconds;\n    let light = buff[9];\n    let timeStr;\n    \n    node.warn(typeof code +code);\n    if (code === 2) {\n        if (action === 1) {\n            content = 'Automatically turn off lights';\n        } else if (action === 2) {\n            content = 'Automatic lighting, brightness is '+ light;\n        }\n        hours = buff[6];\n        minutes = buff[7];\n        seconds = buff[8];\n        timeStr = data.substring(12,18);\n    } else {\n        if (code === 0) {\n            content = 'Boot up';\n        } else if (code === 1) {\n            content = 'keep-Alive';\n        }\n        hours = buff[12];\n        minutes = buff[13];\n        seconds = buff[14];\n        timeStr = data.substring(24,30);\n    }\n    let time=  timeStr + ' -> ' +hours + ':' + minutes + ':' + seconds;\n    let notify = 'Time: ' + time + '<br>' + content;\n    node.warn('time : ' + time);\n    node.warn('content : ' + content);\n    node.warn('notify : ' + notify);\n    msg1.payload = time;\n    msg2.payload = content;\n    msg3.payload = notify;\n}\n\n\nreturn [msg1, msg2, msg3];","outputs":"3","noerr":0,"x":1109.818733215332,"y":962.0248413085938,"wires":[["6ef590bc.4677c"],["8abbae7e.45c7"],["3a636998.24c7d6"]]},{"id":"6ef590bc.4677c","type":"ui_text","z":"799392fa.734d8c","group":"9973020d.af0ca","order":0,"width":0,"height":0,"name":"","label":"Time:","format":"{{msg.payload}}","layout":"row-left","x":1348.6187438964844,"y":923.0248432159424,"wires":[]},{"id":"8abbae7e.45c7","type":"ui_text","z":"799392fa.734d8c","group":"9973020d.af0ca","order":0,"width":0,"height":0,"name":"","label":"Notify :","format":"{{msg.payload}}","layout":"row-left","x":1346.4186973571777,"y":964.024938583374,"wires":[]},{"id":"6fc2ab21.77f1f4","type":"comment","z":"799392fa.734d8c","name":"Keep-Alive& Boot up 通知","info":"","x":983.5248947143555,"y":916.5874042510986,"wires":[]},{"id":"3848ed13.500412","type":"comment","z":"799392fa.734d8c","name":"自動關燈/開燈通知","info":"","x":951.6187133789062,"y":1000.0249633789062,"wires":[]},{"id":"ec8e76bb.f6f188","type":"inject","z":"799392fa.734d8c","name":"手動測試UL MQTT","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":114.91250610351562,"y":488.3874816894531,"wires":[["2dd71b0a.270ea4"]]},{"id":"2dd71b0a.270ea4","type":"function","z":"799392fa.734d8c","name":"Switch test data","func":"if(msg.payload === 0) { //Boot up\n    msg.payload = [{\"channel\":923125000, \"sf\":10, \"time\":\"2018-06-26T02:04:40\", \"gwip\":\"10.8.20.3\", \"gwid\":\"00001c497b48dc21\", \"repeater\":\"00000000ffffffff\", \"systype\":20, \"rssi\":-34.0, \"snr\":19.5, \"snr_max\":39.5, \"snr_min\":9.5, \"macAddr\":\"00000000140112b4\", \"data\":\"aa00f1000a007b0001000000151b34db8e\", \"frameCnt\":1, \"fport\":2}];\n} else if(msg.payload === 1) { //Keep-alive\n    msg.payload = [{\"channel\":926375000, \"sf\":10, \"time\":\"2018-06-26T06:40:14\", \"gwip\":\"10.8.20.3\", \"gwid\":\"00001c497b48dc1a\", \"repeater\":\"00000000ffffffff\", \"systype\":20, \"rssi\":-93.0, \"snr\":22.0, \"snr_max\":33.8, \"snr_min\":14.5, \"macAddr\":\"00000000140112a1\", \"data\":\"aa00f1010a007a0001000000140b23b98e\", \"frameCnt\":39, \"fport\":2}];\n} \nreturn msg;","outputs":1,"noerr":0,"x":317.9125213623047,"y":486.6937084197998,"wires":[["8332077d.67e308","6bbe4c31.73fac4"]]},{"id":"6bbe4c31.73fac4","type":"debug","z":"799392fa.734d8c","name":"","active":true,"console":"false","complete":"false","x":575.9249305725098,"y":464.4874334335327,"wires":[]},{"id":"d249df24.6d78e","type":"ui_button","z":"799392fa.734d8c","name":"","group":"989e5556.a22578","order":0,"width":0,"height":0,"passthru":false,"label":"Send Command","color":"","bgcolor":"#8533ff","icon":"","payload":"","payloadType":"str","topic":"","x":154.0187530517578,"y":2652.02490234375,"wires":[["72e9c186.524"]]},{"id":"72e9c186.524","type":"function","z":"799392fa.734d8c","name":"#set command","func":"context.global.selectData =  context.global.manualCommand;\n// node.warn(context.global.selectData);\nreturn msg;\n","outputs":"1","noerr":0,"x":388.12503814697266,"y":2652.9060020446777,"wires":[["a6c947e.2abe2b8"]]},{"id":"9d0345f9.884f98","type":"function","z":"799392fa.734d8c","name":"*save global.manualCommand","func":"context.global.manualCommand = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":330.0000457763672,"y":2605.024649620056,"wires":[[]]},{"id":"26431bf9.d99444","type":"ui_text_input","z":"799392fa.734d8c","name":"","label":"Command:","group":"989e5556.a22578","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":99.99999237060547,"y":2606.024845123291,"wires":[["9d0345f9.884f98"]]},{"id":"b7444e15.1d4d","type":"ui_text_input","z":"799392fa.734d8c","name":"","label":"Command:","group":"9bc41ec0.4fb88","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1479.2188110351562,"y":1287.0247650146484,"wires":[[]]},{"id":"467acc73.397d74","type":"ui_text_input","z":"799392fa.734d8c","name":"","label":"Command:","group":"3be479db.371326","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1473.21875,"y":1326.02490234375,"wires":[[]]},{"id":"dd03e3c8.ba965","type":"function","z":"799392fa.734d8c","name":"#set  command","func":"//Header\tSerial \tCommand\tCode PL\tP1\tP2\tP3\tChecksum  End\n//AA\t    00\t    02\t    01\t 03\tFF\tFF\tFF\t03\t      8E\ncontext.global.selectData = getData();\n\n// AA0201020000058E\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n   if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x02;\n    let a3 = 0x01;\n    let a4 = 0x03;\n    let a5 = 0xFF;\n    let a6 = 0xFF;\n    let a7 = 0xFF;\n    let a8 = a2 + a3 + a4 + a5 + a6 + a7;\n    a8 = a8 & 0xFF\n    let a9 = 0x8E;\n    \n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4);\n    test = test + toStr(a5) + toStr(a6) + toStr(a7) + toStr(a8) + toStr(a9);\n    node.warn(test);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    return str.toUpperCase();\n}","outputs":1,"noerr":0,"x":338.0187683105469,"y":1408.02490234375,"wires":[["a6c947e.2abe2b8"]]},{"id":"b0e240b8.1c4da","type":"ui_button","z":"799392fa.734d8c","name":"","group":"d07fd705.2ac8c8","order":2,"width":0,"height":0,"passthru":false,"label":"RESET KEEP-ALIVE ACCOUNT ","color":"","bgcolor":"#008000","icon":"","payload":"","payloadType":"str","topic":"","x":177.0186767578125,"y":1409.02490234375,"wires":[["dd03e3c8.ba965"]]}]